strat:
  base_currency: <Your strat base currency>
  trade_currency: <Your strat trade currency>
  wallet:
    base: <Your strat wallet base>
    trade: <Your strat wallet trade>
  leverage: <Your strat leverage>
  timeframe: [<Your strat timeframe>, <Your second timeframe>]
  time_to_sleep: <Check every x seconds>
  exchange_id: <exchange name, for example binance>
logs:
  level: <Your lo level (0 to 3)>
  console: <to show console. true or false>
api:
  key: <Your API KEY>
  secret: <Your API SECRET>